        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        
        body {
            scroll-behavior: smooth;
        }
        
        header {
            width: 100%;
            height: 90vh;
            background: linear-gradient(rgba(0, 0, 0, 0.596), rgba(0, 0, 0, 0.8)), url('./images/bg.jpg');
            background-size: cover;
            background-attachment: fixed;
        }
        
        nav {
            width: 100%;
            height: 80px;
            background: whitesmoke;
            color: black;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 80px;
            position: fixed;
            top: 0;
            z-index: 1;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            top: 0;
        }
        
        .logo {
            font-family: sans-serif;
            font-size: 2.5em;
        }
        
        .logo span {
            color: rgb(241, 38, 106);
        }
        
        .menu a {
            text-decoration: none;
            color: black;
            padding: 10px 20px;
            font-family: sans-serif;
            font-size: 20px;
        }
        
        .menu a:first-child {
            color: rgb(219, 66, 148);
        }
        
        .menu a:hover {
            color: rgb(211, 143, 83);
        }
        
        .icon i {
            font-size: 20px;
        }
        
        .icon i:hover {
            color: rgb(199, 123, 56);
        }
        
        .icon a {
            text-decoration: none;
            background: rgb(230, 88, 159);
            color: white;
            padding: 10px 20px;
            margin-left: 30px;
            border-radius: 6px;
        }
        
        .h-text {
            color: whitesmoke;
            max-width: 700px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
        
        #camera {
            font-size: 40px;
            margin-bottom: 10px;
        }
        
        .h-text h1 {
            font-family: sans-serif;
            font-size: 3em;
            line-height: 1.6em;
        }
        
        .h-text input {
            width: 60%;
            padding: 20px;
            border: none;
            outline: none;
            font-size: 20px;
            border-radius: 10px;
        }
        
        .h-text button {
            width: 30%;
            padding: 20px;
            background: rgb(241, 108, 175);
            color: whitesmoke;
            border: none;
            box-shadow: gray;
            outline: none;
            border-radius: 9px;
            font-size: 20px;
            margin-top: 30px;
        }
        
        .filter-gallery {
            padding: 100px;
        }
        
        .portfolio-menu {
            text-align: center;
            margin-bottom: 20px;
        }
        
        .portfolio-menu ul li {
            list-style: none;
            display: inline-block;
            margin: 20px 0px;
            font-size: 20px;
            font-weight: bold;
            font-family: sans-serif;
            padding: 10px 20px;
            cursor: pointer;
            transition: 0.5s ease;
            text-align: center;
        }
        
        .portfolio-menu ul li:hover {
            color: white;
            background: rgb(240, 112, 176);
            border-radius: 9px;
        }
        
        li.active {
            color: white;
            background: rgb(240, 112, 176);
            border-radius: 9px;
        }
        
        .portfolio-item {
            width: 100%;
        }
        
        .portfolio-item .item {
            width: 360px;
            height: 360px;
            float: left;
            margin-bottom: 20px;
            margin-right: 20px;
        }
        
        .portfolio-item .item img {
            width: 100%;
            height: 100%;
            border-radius: 8px;
        }
        
        .member {
            width: 100%;
            padding: 20px 100px;
            font-family: sans-serif;
        }
        
        .member-info {
            text-align: center;
        }
        
        .member-info h1 {
            font-size: 2.5em;
        }
        
        .member-info h1 span {
            color: rgb(233, 96, 169);
        }
        
        .member-card {
            text-align: center;
            padding-top: 50px;
            width: 50%;
            margin: auto;
        }
        
        .member-card img {
            height: 10%;
            width: 20%;
            border-radius: 50px;
        }
        
        .member-card p {
            margin: 20px 0px;
            line-height: 2em;
        }
        
        .member-card h2 {
            margin: 20px 0px;
        }
        
        footer {
            width: 100%;
            height: 100vh;
            background: #2e2b2b;
            padding: 50px 100px;
        }
        
        .newsletter {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px;
            border: 1px solid whitesmoke;
        }
        
        .newsletter>div {
            flex-basis: 50%;
        }
        
        .ntext {
            text-align: right;
        }
        
        .newsletter h2 {
            font-size: 2em;
            font-family: sans-serif;
            color: whitesmoke;
        }
        
        .newsletter p {
            font-size: 20px;
            margin-top: 10px;
            color: whitesmoke;
        }
        
        .newsletter label {
            position: relative;
        }
        
        .newsletter input {
            padding: 20px;
            width: 70%;
            border-radius: 9px 9px 9px 9px;
            border: none;
            outline: none;
            font-family: sans-serif;
        }
        
        .newsletter button {
            position: absolute;
            right: 0;
            padding: 20px;
            width: 30%;
            background: #da45c6;
            color: white;
            border: none;
            outline: none;
            border-radius: 0px 9px 9px 0px;
        }
        
        .f-contact {
            color: white;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 50px;
        }